body {
  display: flexbox;
  flex-direction: row;
  height: 100%;
  background-color: white;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  text-align: center;
}

header {
  text-align: center;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  justify-content: space-between;
}

hr.solid {
  border-top: 3px solid black;
}
