html {
  min-height: 100%;
  max-width: 100%;
}

body {
  display: flexbox;
  flex-direction: row;
  height: 100%;
  background-color: white;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  text-align: center;
  margin: 0;
  width: 100%;
}

.tabs {
  padding: 5px;
  text-align: center;
}

header {
  background-color: darkgray;
  overflow: hidden;
}

#hero-image {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://media.giphy.com/media/l41lZBP84rdzHnWA8/giphy.gif");
}

#hero-text {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  padding: 5px auto;
  margin: auto;
  word-wrap: break-word;
}

#stock-list {
  display: flex;
  flex-direction: row;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

input {
  margin: 10px 0;
  padding: 0px 0px;
  font-size: 10px;
  text-align: center;
  border-left: 6px solid rgba(30, 144, 255, 1);
  background-color: lightgrey;
}

button {
  margin: 10px 5px;
  color: white;
  background-color: rgba(30, 144, 255, 1);
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50;
  color: white;
}

#container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.trading-view-chart {
  width: 30%;
}

.stock-list {
  width: 30%;
}

.stockChartSection {
  width: 30%;
}

/* #stock-quote {
  display: flex;
  flex-direction: row;
  text-align: center;
} */

#stockList {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sourceUrl {
  word-wrap: break-word;
}

#stockNews {
  text-align: center;
}

hr.solid {
  border-top: 3px solid black;
}

@media (max-width: 768px) {
  #container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .trading-view-chart {
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .stock-list {
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
  }

  /* .stock-chart {
    display: flex;
    justify-content: center;
  } */

  .stockChartSection {
    justify-content: center;
    display: flex;
    width: 100%;
  }
}
